@(title: String)(content: Html)
<!DOCTYPE html>
<html>
<head>
  <title>@title</title>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("jquery-ui/css/cupertino/jquery-ui-1.10.0.custom.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("jquery.dataTables/css/jquery.dataTables_themeroller.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <script type="text/javascript" src="@routes.Assets.at("jquery/jquery-1.9.1.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("jquery.dataTables/js/jquery.dataTables.min.js")"></script>
</head>
<body>
@content
</body>
</html>
