@(customers: List[Customer])
@import helper._
@main("顧客一覧") {
<h1>顧客一覧</h1>
<h2>検索条件</h2>

<h2>検索結果（@customers.size 名）</h2>
<table id="customersTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>氏名</th>
      <th>住所</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
  @customers.map { customer =>
    <tr>
      <td>@customer.id</td>
      <td>@customer.name</td>
      <td>@customer.address</td>
      <td>
        @form(routes.CustomerController.remove(customer.id)) {
          <input type="submit" value="削除">
        }
      </td>
    </tr>
  }
  </tbody>
</table>
@form(routes.CustomerController.create) {
  <input type="submit" value="新規">
}

<script type="text/javascript">
$(document).ready(function() {
  $("#customersTable").dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers"
  });
});
</script>
}
